@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+QingKe+HuangYou&display=swap');

html {

    box-sizing: border-box;

}

*, *:before, *:after {

    box-sizing: inherit;

}
body {
    min-width: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "banner banner banner"
        "wrapper wrapper wrapper"
        "form form form"
        "footer footer footer";
}

.header {
    background: rgb(255,177,93);
    background: radial-gradient(circle, rgba(255,177,93,1) 50%, rgba(245,152,76,1) 100%);
    grid-area: header;
    height: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 50%);
    position: relative;
}

.nav__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 960px;
    padding: 0;
}
.nav__container {
    display: flex;
    justify-content: center;
}
.nav__switcher {
    display: none;
}

.nav__link {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 20px;
}
.nav__link:hover {
    color: rgb(28,51,69);
    animation-duration: 1s;
    animation-name: ho; 
}

@keyframes ho {
    from {
        color: #fff
    }
    to {
        color: rgb(28,51,69);
    }
}

.banner {
    grid-area: banner;    
    background: rgb(242,95,92);
    background: radial-gradient(circle, rgba(242,95,92,1) 33%, rgba(204,80,77,1) 73%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
}

.banner__container {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.banner__heading {
    font-size: 40px;
    color: #fff;
}

.banner__paragraph {
    font-size: 20px;
    color: #fff;
}

.wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 50%);
    background: rgb(255,184,85);
    background: radial-gradient(circle, rgba(255,184,85,1) 33%, rgba(255,158,60,1) 73%);
    padding-top: 20px;
    padding-bottom: 30px;
}

.wrapper__header {
    max-width: 960px;
    text-align: center;
    margin: 0;
    
}

.wrapper__heading {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 40px;
    color: rgb(28,51,69);
    margin: 0px 0px;
    
}

.wrapper__paragraph {
    font-family: 'Lato', sans-serif;
    color: rgb(28,51,69);
    
}

.highlights {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
            "highlights__content highlights__content highlights__content"
            "highlights__content highlights__content highlights__content";
}

.highlights__content {
    max-width: 300px;
    border-radius: 5px; 
    background: rgb(28,51,69);
    background: radial-gradient(circle, rgba(28,51,69,1) 33%, rgba(24,43,58,1) 73%);
    padding: 5px;
    text-align: center;
}

.highlights__image {
    width: 25%;
    margin: 5px auto;
    fill: white;
    }

.highlights__heading {
    margin: 0 0;
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
}

.highlights__paragraph {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.form {
    grid-area: form;
    background: rgb(28,51,69);
    background: radial-gradient(circle, rgba(28,51,69,1) 33%, rgba(24,43,58,1) 73%);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
}

.form__header {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgb(255,184,85);
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
    
}
.form__container {
    max-width: 960px;
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-template-areas: "name surname age"
                        "phone email password"
                        "range message message"
                        "answear message message"
                        "inputs inputs inputs"
                        "check check file"
                        ". submit .";
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fff;
}

.form__input {
    height: 30px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    width: 250px;
    max-width: 250px;

}

.form__name {
    grid-area: name;
    height: 30px;
    border-radius: 5px;
}

.form__surname {
    grid-area: surname;
}

.form__age {
    grid-area: age;
}

.form__telephone {
    grid-area: phone;
}

.form__email {
    grid-area: email;
}

.form__password {
    grid-area: password;
}

.form__range {
    grid-area: range;
}

.form__radio {
    grid-area: inputs;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.form__check--container {
    grid-area: check;
    display: flex;
    justify-content: space-around;
}

.form__checkbox {
    text-align: center;
}

.form__answear {
    grid-area: answear;
}

.form__message {
    grid-area: message;
    display: flex;
    justify-content: flex-start;
}

.form__textarea {
    max-width: 600px;
    height: 150px;
    border-radius: 5px;
    margin: 0;
    border: none;
}

.form__button {
    grid-area: submit;
    width: 150px;
    height: 30px;
    background-color: rgba(28,51,69,1);
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 20%);
    color: #FFF;
    
    
}

.form__button:hover {
    animation-name: colorChange;
    animation-duration: 1s;
    background-color: rgb(12, 85, 141);
}

@keyframes colorChange {
    from {
        background-color: rgba(28,51,69,1);
    }

    to {
        background-color: rgb(12, 85, 141);
    }
}
.form__file {
    grid-area: file;
    display: flex;
}
.form__file--input {
    display: none;
}

.form__file--label {
    width: 100px;
    height: 30px;
    background-color: rgba(28,51,69,1);
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 20%);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form__file--label:hover {
    animation-name: colorChange;
    animation-duration: 1s;
    background-color: rgb(12, 85, 141);
}


@media screen and (max-width: 800px) {
    body {
        min-width: auto;
    }

    .container {
        text-align: center;
        grid-template-columns: 1fr;
    }
    
    .header {
        min-height: 50px;
        height: auto;
    }

    .nav__switcher {
        display: block;
        margin-left: auto;
        margin-right: 5%;
        margin-top: 15px;
        background: none;
        border: solid 1px rgba(28,51,69,1);
        border-radius: 2px;
        color: rgba(28,51,69,1);
    }

    .nav__switcher:hover {
        background-color: rgba(28,51,69,1);
        color: #fff;
        animation-name: switcher;
        animation-duration: 1s;
    }

    @keyframes switcher {
        from {
            background: none;
            color:  rgba(28,51,69,1);
        }
        to {
            background-color:rgba(28,51,69,1);
            color: #fff;
        }
    }

    .nav__menu {
        display: none;

    }

    .nav__menu--visible{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }


    .nav__link:hover {
        color: rgb(28,51,69);
        animation-duration: 1s;
        animation-name: ho; 
    }

    .wrapper__header {
        text-align: center;
        margin: 0;
    }

    .highlights {
        grid-template-columns: auto;
        grid-template-areas: 
                "highlights__content";
    }

    .form__container {
        width: auto;
        grid-template-columns: auto;
        grid-template-areas: "name" 
                            "surname"
                            "age"
                            "phone"
                            "email"
                            "password"
                            "range" 
                            "answear"
                            "message"
                            "inputs"
                            "check"
                            "file"
                            "submit";
        grid-row-gap: 10px;
        font-family: 'Lato', sans-serif;
        
    }

    .form__radio {
        width: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }   

    .form__legend {
        margin: 0 auto;
    }

    .form__check--container {
        grid-area: check;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form__message {
        grid-area: message;
        display: flex;
        justify-content: center;
    }

    .form__textarea {
        border-radius: 5px;
        margin: 0;
        border: none;
    }

    .form__file {
        display: flex;
        justify-content: center;
    }
}